@font-face {
  font-family: my_font;
  src: url(./fonts/Kode_Mono/KodeMono-Medium.ttf);
  font-size: 16px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.menu {
  color: cornflowerblue;
  font-size: 16px;
  line-height: 20px;
}

.title {
  color: #222222;
  font-size: 28px;
  line-height: 36px;
  font-weight: bold;
}

p{
  color: aquamarine;
}

.paragraph {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #7d7987;
  text-align: left;
  margin: 10px;
  padding: 10px;
  
}

.title_h2 {
  color: coral;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 80px;
}

.img-decor {
  border-radius: 10px;
  width: 100px;
}
.div_deco{
  display: flex;
}
.img_div{
  float: right;
  margin: 20px;
}

.input_decoration {
  width: 300px;
  height: 30px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 15px;
  font-size: 14px;
  line-height: 30px;
}

.button_decoration {
  width: 100px;
  height: 30px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.body_decoration {
  font-family: my_font, Kode, sans-serif;
}

.card{
  background-color: yellow;
}

.card img {
  width: 10%;
  height: 10%;
}

h3 {
  font-weight: 800;
}